/* fonts */

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  src: local("JetBrains Mono"),
    url("assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  src: local("JetBrains Mono"),
    url("assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf")
      format("truetype");
}

/* reset */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-inline-size: 100%;
  display: block;
}

/*slider reset
https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* globals */

:root {
  --grey-950: #08070b;
  --grey-900: #14131b;
  --grey-850: #18171f;
  --grey-800: #24232c;
  --grey-700: #54535b;
  --grey-600: #817d92;
  --grey-200: #e6e5ea;
  --green-200: #a4ffaf;
  --yellow-300: #f8cd65;
  --orange-400: #fb7c58;
  --red-500: #f64a4a;
  --gradient: linear-gradient(#14131b, #08070b);
  --spacing-100: 0.5rem; /* 8px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1300: 6.5rem; /* 104px */
  --spacing-1600: 8rem; /* 128px */
  --spacing-2000: 10rem; /* 160px */
  --spacing-2200: 11rem; /* 176px */
  --spacing-2300: 11.5rem; /* 184px */
  --font-step-1: 1rem; /* 16px */
  --font-step-2: 1.125rem; /* 18px */
  --font-step-3: 1.5rem; /* 24px */
  --font-step-4: 2rem; /* 32px */
  --font-base: "JetBrains Mono", sans-serif;
  --font-weight-regular: 700;
  --thumb-radius: 1.75rem;
  --fluid-343-540: clamp(21.4375rem, 9.6889rem + 50.1272vw, 33.75rem);
}

body {
  block-size: 100dvh;
  background-color: var(--grey-950);
  color: var(--grey-200);
  font-family: var(--font-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.25;
  font-size: var(--font-step-1);
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--grey-600);
  font-size: var(--font-step-1);
  text-align: center;
}

fieldset {
  border: none;
}

.generator {
  inline-size: var(--fluid-343-540);
}

.generator > * + * {
  margin-block-start: var(--spacing-200);
}

.password-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey-800);
  padding: var(--spacing-200);
}

.password-display > p {
  font-size: var(--font-step-3);
}

.copy-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
  color: #a4ffaf;

  text-transform: uppercase;
  & img {
    width: 17.5px;
    height: 20px;
  }
}

.generator form {
  background-color: var(--grey-800);
  padding: var(--spacing-200);
}

.generator form > * + * {
  margin-block-start: var(--spacing-400);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--thumb-radius);
  width: var(--thumb-radius);
  border-radius: 50%;
  background: var(--grey-200);
  cursor: pointer;
  margin-top: -14px;
}

input[type="range"]::-moz-range-thumb {
  height: var(--thumb-radius);
  width: var(--thumb-radius);
  border-radius: 50%;
  background: var(--grey-200);
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: var(--thumb-radius);
  width: var(--thumb-radius);
  border-radius: 50%;
  background: var(--grey-200);
  cursor: pointer;
}

.char-length-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.char-length-indicator {
  color: var(--green-200);
  font-size: var(--font-step-3);
}

.generator form fieldset > * + * {
  margin-block-start: var(--spacing-200);
}

.generator form button {
  border: none;
  display: flex;
  inline-size: 100%;
  padding: var(--spacing-200);
  align-items: center;
  justify-content: center;
  gap: var(--spacing-200);
  text-transform: uppercase;
  font-size: var(--font-step-1);
  line-height: inherit;
  font-weight: inherit;
  background-color: var(--green-200);
  margin-block-start: var(--spacing-200);
}

.strength-container {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-850);
  padding: var(--spacing-200);
}

.strength-container > p {
  color: var(--grey-600);
}

.strength-indicator {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  font-size: var(--font-step-3);
}
